h1, h2, h3, h4, h5, h6, p {
  /* font-family: 'Noto Sans KR' !important; /*이 부분은 h1~p에 Noto Sans KR 폰트를 적용합니다*/
  font-family: 'Inconsolata', monospace;
  }
.container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, );
}
body {
  background: linear-gradient(330deg, #7462ff, #78a3eb, #fbc2eb, #23d5ab); /* Gradient definition */
  background-position: center center; /* Gradient position */
  background-repeat: no-repeat; /* Gradient repeat */
  background-attachment: fixed; /* Gradient attachment */
  background-size: 300% 300%; /* Gradient size */
  animation: color 12s ease-in-out infinite; /* Animation */
}

@keyframes color {
  0% {
    background-color: 0 50%; /* Start color */
  }
  50% {
    background-color: 100% 50%; /* Midpoint color */
  }
  100% {
    background-color: 0 50%; /* End color */
  }
}

}
p{
    text-align: center; /*p에 대한 문자 정렬를 설정합니다*/
}
h1{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center; /*h1에 대한 문자 정렬을 설정합니다*/
    color: #000435; /*h1에 대한 문자 색상을 설정합니다*/
	  background: rgba(255, 255, 255, 0.2);
	  border-radius: 16px;
	  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	  backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
  	border: 1px solid rgba(255, 255, 255, 0.3);
}
h2{
    text-align: center; /*h2에 대한 문자 정렬을 설정합니다*/
    color: #f0f8ff; /*h2에 대한 문자 색상을 설정합니다*/
}
h3{
  text-align: center; /*h3에 대한 문자 정렬을 설정합니다*/
  color: #f0f8ff; /*h3에 대한 문자 색상을 설정합니다*/
}
a:link {
  color : pink; /*hyperlink의 링크 색상을 설정합니다*/
}
a:visited {
  color : pink; /*방문된 hyperlink의 링크 색상을 설정합니다*/
}
a:hover {
  color : rosybrown; /*hovering 되고있는 hyperlink의 색상을 설정합니다*/ 
}
a:active {
  color : #ddbfff; /*hyperlink가 작동(클릭)될때의 색상을 설정합니다*/
}
a{
  text-decoration: none;
}
