body {
    background-image: url('(대충 나중에 후려넣을거임)');
    background-color: #ff7f50;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    color: #ddbfff;
}
h2{
    text-align: center;
    color: #f0f8ff;
}
